# .gitignore

client/node_modules
server/node_modules
lambda/node_modules
auth-lambda/node_modules
./node_modules


server/.env*
client/build
server/lambda-deployment-package.zip

client/.DS_Store
server/.DS_Store

