# .gitignore

# ignore node modules
client/node_modules
server/node_modules
lambda/node_modules
auth-lambda/node_modules
./node_modules


# Ignore environment variable files (includes db password)
client/.env*
server/.env*

# Miscellaneous
client/.DS_Store
server/.DS_Store

